# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.o
*.o-*
*.a
*.cache
*.Po
Makefile
config.log
config.status
.deps
autom4te.cache/*
.dirstamp
unittest
.libs
generate
.DS_Store
UserInterfaceState.xcuserstate
server
*.in~
*.tar.gz

balance

balance

cryptobot

lab

ask

bid

buyers

wallet

wallet

sellers

wallet

rates

currencies

buy

orders

sell

balances

askbid

equalize

unittests

withdraw

transfer

chart

output

withdrawals

monitor

trades

report

report

pairs

triplets

deposits

handelaar.log

satellite

analyze

expire

mintrade

mintrade

mintrade

arbitrage

patterns

multimarket

multipath

books

satellite1

satellite2
trends
optimize
learn
surfer
website
comment
pair
keeper
eurbtc
download
